@model Nop.Plugin.Payments.PayPalExpressCheckout.Models.CheckoutConfirmModel
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("Plugin.Payments.PayPalExpressCheckout.Confirm", FormMethod.Post,
                new Dictionary<string, object> { { "data-ajax", "false" }, { "id", "confirm-order-form" } }))
        {
            @await Component.InvokeAsync("Widget", new { widgetZone = "mobile_checkout_confirm_top" })

            if (Model.Warnings.Count > 0)
            {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
            }
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#confirm-order-form').submit(function () {
                        $('#nextstep').addClass('ui-disabled');
                    });
                });
            </script>
            
            <div class="confirm-order">
                <div class="select-button">
                    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
                    {
                        @Model.MinOrderTotalWarning
                    }
                    else
                    {
                        <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" />
                    }
                </div>
            </div>  
            @await Component.InvokeAsync("Widget", new { widgetZone = "mobile_checkout_confirm_bottom" })
        }
        <div class="order-summary-body">
            @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
        </div>
    </div>
</div>
